assets/cat.png
assets/cats.png
assets/fish.png
assets/gameover.png
assets/ghost.png
assets/monster.png
assets/platform.png
assets/restart.png
assets/sky.jpg
assets/start.png
assets/music/beefmow.mp3
assets/music/catmeow1-89814.mp3
assets/music/cottagecore.mp3
assets/music/gamemusic-6082.mp3
assets/music/jump.mp3
assets/music/kitten-meow-not-cute-purr-93405.mp3
assets/music/kitty-meow-85182.mp3
