assets/cat.png
assets/cats.png
assets/fish.png
assets/gameover.png
assets/ghost.png
assets/monster.png
assets/platform.png
assets/restart.png
assets/sky.jpg
assets/start.png
assets/music/beefmow.mp3
assets/music/catmeow1-89814.mp3
assets/music/cottagecore.mp3
assets/music/gamemusic-6082.mp3
assets/music/jump.mp3
assets/music/kitten-meow-not-cute-purr-93405.mp3
assets/music/kitty-meow-85182.mp3
level1_data
level2_data
assets/blob.png
assets/cat_jump1.png
assets/cat_jump2.png
assets/cat1.png
assets/cat2.png
assets/cat3.png
assets/dirt.png
assets/exit_btn.png
assets/exit.png
assets/ghost1.png
assets/grass.png
assets/restart_btn.png
assets/sky.png
assets/start_btn.png
assets/start0.png
tempCodeRunnerFile.py
